@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela+Round&display=swap');

div {
    max-width: 1600px;
}

#content {
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #1514CC;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #FFA860;
}

body {
    background-color: lightgrey;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0086FF;
    font-family: "Varela Round";
}

nav a:hover {
    color: #FF7D01;
}

.book, .join {
    background-color: #FF7D01;
    color: #1514CC;
    text-decoration: none;
    font-family: "Varela Round";
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #FFA860;
    color: #0086FF;
}

.msg {
    background-color: #0086FF;
    font-family: "Varela Round";
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #1514CC;
    font-family: "Varela Round";
}

.msg p {
    color: #1514CC;
    font-family: "Varela Round";
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #0086FF;
    color: #1514CC;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #1514CC;
    text-decoration: none;
    font-family: "Varela Round";
}

footer a:hover {
    color:#FF7D01;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #1514CC;
    font-family: "Permanent Marker";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #1514CC;
    font-family: "Varela Round";
}

h2 {
    font-family: "Permanent Marker";
    margin: 0;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}


#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #0086FF;
}

main section img {
    box-sizing: border-box;
}